# Recommender- Yeah Money Money Money

### Requirements
```
python 3.6

numpy == '1.14.3'
pandas == '0.23.0'
tensorflow == '1.8.0'
keras == '2.2.0'
```
Other versions of above library will probably work

Prepare the csv data, from [movielens](https://grouplens.org/datasets/movielens/)

In [1]:
# %cd /data
# !!wget http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
# !!unzip ml-latest-small.zip

In [4]:
import pandas as pd
import numpy as np
import os

In [3]:
DATA = "/data/ml-latest-small/"
DIM = 100

In [5]:
files = os.listdir(DATA)
files

['links.csv', 'tags.csv', 'ratings.csv', 'README.txt', 'movies.csv']

In [6]:
data = dict()
for f in files:
    if f[-3:]=="csv":
        data[f.split(".")[0]] = pd.read_csv(DATA+f)

## Check Sample Data

In [7]:
from IPython.display import display
list(display(k,v.sample(5)) for k,v in data.items())

'links'

      movieId   imdbId   tmdbId
5528     8763    63389  64877.0
6604    50162   344854   9992.0
6895    58107  1023481   8328.0
4090     5357   110157  24767.0
7239    68967   836700   8282.0

'tags'

      userId  movieId          tag   timestamp
572      423     6713  Satoshi Kon  1354033681
1043     547    55276    toplist07  1195959915
1153     547    96728    toplist12  1355599008
1013     547    48394     holes00s  1342850387
1262     547   160954          bkk  1472178574

'ratings'

       userId  movieId  rating   timestamp
42649     306     1216     3.0   956081725
7262       44      135     4.0   858707310
74797     519     1240     4.5  1468758883
37768     271     2028     4.0  1107785352
9399       62   111759     4.0  1451708157

'movies'

,movieId,title,genres
7789,86320,Melancholia (2011),Drama|Sci-Fi
5742,26151,Au Hasard Balthazar (1966),Crime|Drama
7721,83613,Cowboys & Aliens (2011),Action|Sci-Fi|Thriller|Western|IMAX
7027,61236,Waltz with Bashir (Vals im Bashir) (2008),Animation|Documentary|Drama|War
7135,65193,Wild Child (2008),Drama|Romance

[None, None, None, None]

## Model On Rating

In [12]:
len(data["ratings"])

100004

In [13]:
userId = list(set(data["ratings"]["userId"]))
movieId = list(set(data["ratings"]["movieId"]))
print(len(userId),len(movieId))

671 9066

### Mapping
user to index, movie to index, index to user, index to movie

In [20]:
u2i = dict((v,k) for k,v in enumerate(userId))
m2i = dict((v,k) for k,v in enumerate(movieId))
i2u = dict((k,v) for k,v in enumerate(userId))
i2m = dict((k,v) for k,v in enumerate(movieId))

In [21]:
data["ratings"]["movie_idx"] = data["ratings"]["movieId"].apply(lambda x:m2i[x])
data["ratings"]["user_idx"] = data["ratings"]["userId"].apply(lambda x:u2i[x])

In [48]:
user_array = data["ratings"]["user_idx"].values.reshape(-1,1)
movie_array = data["ratings"]["movie_idx"].values.reshape(-1,1)

In [49]:
rating_array = data["ratings"]["rating"].values.reshape(-1,1)/5

In [50]:
user_array.shape,movie_array.shape,rating_array.shape

((100004, 1), (100004, 1), (100004, 1))

## Model

In [ ]:
from keras.layers import *
from keras.models import *

In [57]:
def idx2vec(leng,name,dim = DIM):
    ipt = Input((1,),name=name+"_ipt")
    ebd = Embedding(leng,dim)(ipt)
    ebd = SpatialDropout1D(.3)(ebd)
    return ipt,ebd

In [58]:
ipt_u, ebd_u = idx2vec(len(userId),"user")
ipt_m, ebd_m = idx2vec(len(movieId),"movie")

In [59]:
user2vec = Model(ipt_u,ebd_u)
movie2vec = Model(ipt_m,ebd_m)

### What is Embeding Layer

In [60]:
user2vec.predict(np.array([[0],[2]]))

array([[[ 1.91395916e-02, -4.51731198e-02,  4.37530987e-02,
         -1.63733847e-02,  6.41286373e-03,  4.66329344e-02,
         -2.11565029e-02, -3.47738862e-02,  2.13194229e-02,
          3.23534012e-03,  4.95511293e-03, -1.18402839e-02,
         -2.76263598e-02,  1.77213289e-02, -1.52823552e-02,
          2.01885365e-02,  3.57834809e-02, -1.48696899e-02,
          1.56355761e-02,  1.01965554e-02, -8.46663862e-03,
          3.66757549e-02,  3.48094441e-02, -2.57774722e-02,
          3.20844986e-02, -4.09193523e-02, -1.54222474e-02,
          2.47629397e-02,  4.87549193e-02, -4.60501797e-02,
         -8.87737423e-03, -3.97561304e-02, -1.64012089e-02,
         -4.16589901e-03,  4.20560725e-02, -4.36268337e-02,
          3.48217748e-02,  3.49102505e-02,  2.14034356e-02,
         -1.34521946e-02, -2.86731608e-02,  3.45314257e-02,
          4.00956757e-02, -2.78212875e-03, -3.91735211e-02,
         -2.87387371e-02, -3.99985909e-02,  3.78483795e-02,
         -2.96304822e-02, -1.71114132e-03,  1.64932497e-02,
          4.94588166e-04, -4.04869914e-02,  1.31681450e-02,
          3.50769274e-02, -4.20941822e-02,  1.79209150e-02,
          2.93698348e-02,  1.45762227e-02, -1.59826167e-02,
         -8.51853937e-03,  1.71509646e-02, -2.33918782e-02,
         -1.74289234e-02,  3.15263532e-02, -3.88495438e-02,
          2.95404829e-02,  3.51599939e-02,  2.93313749e-02,
         -2.21765880e-02,  2.02405937e-02,  1.27715357e-02,
          1.90221705e-02, -3.25495824e-02, -2.06426270e-02,
          2.80704610e-02,  1.37014128e-02, -3.90395150e-02,
         -3.47557180e-02,  4.49121259e-02, -1.50060654e-02,
         -4.68110815e-02,  7.11083412e-05,  6.86253235e-03,
         -1.84546113e-02,  5.61134890e-03,  8.58099386e-03,
          1.28755830e-02, -2.56486665e-02, -1.39174573e-02,
         -1.64241306e-02, -3.45566049e-02, -2.39993464e-02,
         -1.67931430e-02, -3.92848626e-02,  2.16376036e-04,
          1.89089440e-02,  3.10479142e-02,  5.31371683e-03,
          2.79432274e-02]],

       [[-4.01592031e-02,  7.19799846e-03, -1.61382928e-02,
         -3.51906903e-02,  4.31467928e-02,  3.87722142e-02,
         -3.55933793e-02, -8.48384947e-03, -7.60717317e-03,
         -2.05930956e-02, -4.82994318e-02,  2.31494755e-03,
         -3.59424353e-02,  3.96265723e-02, -4.35406826e-02,
         -3.85101065e-02, -2.91835312e-02,  6.42104074e-03,
         -2.67193913e-02,  4.46879603e-02, -3.14077511e-02,
         -1.25779025e-02,  1.68588795e-02, -4.96052019e-02,
          2.95611657e-02,  8.69147852e-03,  3.26994397e-02,
         -3.86213437e-02,  4.47939076e-02,  4.26611938e-02,
         -4.30247188e-02,  3.59156393e-02,  1.98073722e-02,
          1.29287317e-03, -8.95284116e-04, -3.20481658e-02,
         -4.11180370e-02,  1.95744373e-02,  5.85652515e-03,
         -3.86447906e-02, -2.22445726e-02,  3.30603011e-02,
          3.31104435e-02,  1.24731176e-02, -1.33032426e-02,
         -1.92590244e-02, -3.71699221e-02,  2.42489241e-02,
         -3.42926271e-02, -4.62759286e-04,  3.86706106e-02,
         -3.01934835e-02, -2.07043644e-02, -4.83273268e-02,
          4.28113602e-02,  3.68113406e-02,  3.35190929e-02,
         -2.30799671e-02,  4.01268043e-02,  2.83475257e-02,
          2.98190229e-02, -2.13118922e-02, -3.73478420e-02,
          7.42163509e-03,  3.58870886e-02,  2.52962820e-02,
          3.07937898e-02, -8.64870474e-03, -1.20166689e-03,
          5.70040941e-03,  3.85912508e-03, -9.84235853e-03,
          4.94710542e-02, -8.37529823e-03,  3.47588547e-02,
         -1.90983173e-02,  4.07173894e-02, -2.80787479e-02,
         -3.17703262e-02, -2.38995310e-02, -6.68013096e-03,
         -3.83483544e-02, -2.64083147e-02,  3.45529355e-02,
          9.96895880e-03,  2.64387205e-03, -3.90430540e-03,
          4.38318402e-03, -2.46665608e-02,  9.70549509e-03,
          3.60846557e-02,  7.59595633e-03, -2.38547456e-02,
          2.47311108e-02, -2.28717923e-02,  2.35010497e-02,
         -2.45871674e-02,  3.35335992e-02, -5.09955734e-03,
          1.84726715e-03]]], dtype=float32)

In [61]:
x = Multiply()([ebd_u,ebd_m])
x = Flatten()(x)
x = Dense(1,)(x)

cf = Model([ipt_u,ipt_m],x)

In [62]:
cf.compile("Adam",loss="mse",)

In [63]:
cf.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
user_ipt (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
movie_ipt (InputLayer)          (None, 1)            0
__________________________________________________________________________________________________
embedding_5 (Embedding)         (None, 1, 100)       67100       user_ipt[0][0]
__________________________________________________________________________________________________
embedding_6 (Embedding)         (None, 1, 100)       906600      movie_ipt[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_1 (SpatialDro (None, 1, 100)       0           embedding_5[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_2 (SpatialDro (None, 1, 100)       0           embedding_6[0][0]
__________________________________________________________________________________________________
multiply_4 (Multiply)           (None, 1, 100)       0           spatial_dropout1d_1[0][0]
                                                                 spatial_dropout1d_2[0][0]
__________________________________________________________________________________________________
flatten_2 (Flatten)             (None, 100)          0           multiply_4[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 1)            101         flatten_2[0][0]
==================================================================================================
Total params: 973,801
Trainable params: 973,801
Non-trainable params: 0
__________________________________________________________________________________________________

In [64]:
cf.fit([user_array,movie_array],rating_array,epochs=5,shuffle=True,validation_split=.3,batch_size=512)

Train on 70002 samples, validate on 30002 samples
Epoch 1/5
70002/70002 [==============================] - 3s 40us/step - loss: 0.4550 - val_loss: 0.3848
Epoch 2/5
70002/70002 [==============================] - 2s 35us/step - loss: 0.2829 - val_loss: 0.2658
Epoch 3/5
70002/70002 [==============================] - 2s 35us/step - loss: 0.0808 - val_loss: 0.2275
Epoch 4/5
70002/70002 [==============================] - 2s 35us/step - loss: 0.0431 - val_loss: 0.2150
Epoch 5/5
70002/70002 [==============================] - 3s 37us/step - loss: 0.0334 - val_loss: 0.2082

### Deep Collaborative Filtering

In [70]:
ipt_u, ebd_u = idx2vec(len(userId),"user")
ipt_m, ebd_m = idx2vec(len(movieId),"movie")

x = Multiply()([ebd_u,ebd_m])
x = Flatten()(x)

# The rest is multi-layer perceptron
x = Dense(512,)(x)
x = BatchNormalization()(x)
x = Activation("relu")(x)
x = Dense(256,)(x)
x = BatchNormalization()(x)
x = Activation("relu")(x)
x = Dense(1,)(x)

In [71]:
cf_dnn = Model([ipt_u,ipt_m],x)

In [72]:
cf_dnn.compile("Adam",loss="mse",)

In [73]:
cf_dnn.fit([user_array,movie_array],rating_array,epochs=5,shuffle=True,validation_split=.3,batch_size=512)

Train on 70002 samples, validate on 30002 samples
Epoch 1/5
70002/70002 [==============================] - 9s 132us/step - loss: 0.0703 - val_loss: 0.1544
Epoch 2/5
70002/70002 [==============================] - 8s 114us/step - loss: 0.0450 - val_loss: 0.1652
Epoch 3/5
70002/70002 [==============================] - 8s 114us/step - loss: 0.0386 - val_loss: 0.7633
Epoch 4/5
70002/70002 [==============================] - 8s 115us/step - loss: 0.0347 - val_loss: 0.0562
Epoch 5/5
70002/70002 [==============================] - 8s 116us/step - loss: 0.0321 - val_loss: 0.0553